{% sw_extends '@Storefront/storefront/component/buy-widget/buy-widget.html.twig' %}

{% block buy_widget_tax %}
    <div class="topi__element">
        <x-topi-product-rental-summary-label />
    </div>
{% endblock %}