{% sw_extends '@Storefront/storefront/component/line-item/element/total-price.html.twig' %}

{# shopware-block: 4a66a7a1dd4faf300ec21b9a3bbb02ef591144c9fd86ab89bfa804b6fea173dc@v6.6.10.2 #}
{% block component_line_item_total_price %}
    {{ parent() }}

    <div class="d-block mt-2">
        {% sw_include '@TopiPaymentIntegrationPlugin/storefront/elements/topi/cart-rental-summary-label-widget.html.twig' with {
            topiProductId: lineItem.id,
            mode: "product"
        } %}
    </div>
{% endblock %}
