{% sw_extends '@Storefront/storefront/page/checkout/confirm/index.html.twig' %}

{# shopware-block: 4af14bfe03c7f596186c0ae8a9518892ec60deff157e33869575718fa474f757@v6.6.10.1 #}
{% block page_checkout_confirm_form_submit %}
    {% if selectedPaymentMethodId is not defined %}
        {% set selectedPaymentMethodId = context.paymentMethod.id %}
    {% endif %}

    {% set extensionName = constant('TopiPaymentIntegration\\Content\\Extension\\StorefrontExtension::EXTENSION_NAME') %}

    {% if page.hasExtension(extensionName) and page.getExtension(extensionName).paymentMethodId is same as(selectedPaymentMethodId) %}
        <div class="d-grid">
            {% if not page.cart.errors.blockResubmit %}
                {% sw_include '@TopiPaymentIntegrationPlugin/storefront/element/topi/checkout-button-widget.html.twig' with {
                    mode: "cart",
                    form: "confirmOrderForm"
                } %}
            {% else %}
                {{ parent() }}
            {% endif %}
        </div>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}
