{% sw_extends '@Storefront/storefront/component/product/card/box-standard.html.twig' %}

{# shopware-block: c614f9aaf7b62764356daaafd06e593d08a062c9dafcfe6788fd131055a21569@v6.6.10.2 #}
{% block component_product_box_price %}
    {{ parent() }}

    {% block component_product_box_price_topi_price_element %}
        {% set widgetLocation = config('TopiPaymentIntegrationPlugin.config.productBoxWidgetLocation')|replace({'justify-content': 'align-items'}) %}
        {% if not widgetLocation|u.startsWith('align-items') %}
            {% set widgetLocation = 'align-items-' ~ widgetLocation %}
        {% endif %}

        {% set legalInfoState = config('TopiPaymentIntegrationPlugin.config.showLegalInfoProductBox') %}
        <div class="topi___price-element mt-2 mb-2 d-flex {{ widgetLocation|default('justify-content-center') }}{% if legalInfoState %} flex-column {% endif %}">
           <div class="topi_price-badge">
               {% sw_include '@TopiPaymentIntegrationPlugin/storefront/element/topi/cart-rental-summary-label-widget.html.twig' with {
                   topiProductId: product.id,
                   mode: "product"
               } %}
           </div>
           {% if legalInfoState %}
               <div class="topi__price-legal-info">
                   {{ 'topi.productBox.priceLegalInfo'|trans }}
               </div>
           {% endif %}
        </div>
    {% endblock %}
{% endblock %}
