{% sw_extends '@Storefront/storefront/component/product/card/box-standard.html.twig' %}

{# shopware-block: c614f9aaf7b62764356daaafd06e593d08a062c9dafcfe6788fd131055a21569@v6.6.10.2 #}
{% block component_product_box_price %}
    {{ parent() }}

    {% block component_product_box_price_topi_price_element %}
        {% set widgetLocation = config('TopiPaymentIntegrationPlugin.config.productBoxWidgetLocation') %}
       <div class="topi___price-element mt-2 mb-2 d-flex {{ widgetLocation|default('justify-content-center') }}">
           {% sw_include '@TopiPaymentIntegrationPlugin/storefront/element/topi/cart-rental-summary-label-widget.html.twig' with {
               topiProductId: product.id,
               mode: "product"
           } %}
       </div>
    {% endblock %}
{% endblock %}
