{% sw_extends '@Storefront/storefront/component/checkout/offcanvas-cart-summary.html.twig' %}

{# shopware-block: 5f52b5be1163d82debe9f55809115fef5330cfc09afd41c71570b127c20bf74c@v6.6.10.1 #}
{% block component_offcanvas_summary_tax_info %}
    {{ parent() }}

    <div class="topi__summary-block">
        {% sw_include '@TopiPaymentIntegrationPlugin/storefront/element/topi/cart-rental-summary-label-widget.html.twig' with {
            topiProductId: lineItem.id,
            mode: "cart"
        } %}
    </div>
{% endblock %}
